node_modules
env.example
config.json
.env.local
uploads/*
.env
app/documents/*
package-lock.json
pnpm-workspace.yaml
coverage/lcov-report/*
coverage/clover.xml
coverage/coverage-final.json
*.pem
.pnpm-store/
logs/*
certs/*
nginx-logs/*
data/*
